/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

  .dhi_form_wrap{
  	width: 100%;
 }
 .clear{
 	clear: both;
 }
 .form_header{
 	text-align: center;
 }
 .main_form input[type="text"], .main_form select, .main_form input[type="date"]{
 	width: 97%;
 	float: left;
 	margin: 5px;
 }
.main_form input[type="submit"], .main_form input[type="submit"]:hover{
	width: 100px;
    float: right;
    background: #ebeced;
    color: #6f6c6c;
    border: 2px solid #aeabab;
    border-radius: 6px;
    margin: 12px 20px 0 0;
    padding: 7px;
}
.main_form select{
	padding: 9px;
}
.main_form input[type="date"]{
	padding: 7px;
}

.main_form .select_date_range input[type="text"]{
	display: none;
}
.select_date_range{

}
.columnwidth{
	width: 32%;
	float: left;
}
.columnwidth .select_date_range a{
	box-shadow: 0 0px 0 0 currentColor;
	padding: 0 0 0 10px;
}
